.react-calendar {
  width: 14rem;
}

.react-calendar__navigation button {
  min-width: 30px;
}

.react-calendar__month-view__days__day--weekend {
  color: black;
}

.react-calendar__month-view__days__day--weekend:hover {
  color: white;
}

.calendar-event-day {
  background-color: #226462;
  color: white;
}

.calendar-event-day:hover, .calendar-event-day:focus {
  background-color: #f4971a !important;
}
