#home-container {
  align-items: flex-start;
}

/* ActualityFeed */

.actuality-feed-articles {
  height: 32rem;
  overflow-y: scroll;
}

.actuality-feed-article {
  padding: 0.3rem;
}

.actuality-feed-article .category-label {
  margin-right: 0.4rem;
}

.actuality-feed-article-title {
  font-weight: 600;
}

.actuality-feed-article .divider {
  padding: 0.3rem;
  border-bottom-width: 3px;
  border-bottom-style: dotted;
  border-bottom-color: gray;
}

.actuality-feed-article:last-child .divider {
  display: none;
}

/* Une */

.une-articles {
  height: 32rem;
  display: flex;
}

.une-left-column {
  height: 32rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.une-right-column {
  height: 32rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.une-right-column .article-card {
  margin-top: 1rem;
}

.une-right-column .article-card:first-child {
  margin-top: 0;
}

#priority-12-card {
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
