input, textarea {
  border: solid;
  border-color: black;
  display: block;
  margin-top: 10px;

}

input[type='text'] {
  background-color: #F4971A;
  color: white;
  border-radius: 0.3em;
  border-color: white;
  padding: 0.4em;
  position: relative;
  margin-top: 1em;
  margin-right: 10em;
}
