.actu-container {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.actuality {

  min-width: 20vw;
  max-width: 20vw;
  min-height: 35vh;
  margin: .7em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: 0 0em 0.825em rgba(0,0,0,0.4);
  transition: .5s;

}

.actuality:hover {

  box-shadow: 0 0em 2em rgba(0,0,0,0.4);

}
