#admin-subscribers {
  display: flex;
  flex-direction: column;
}

#admin-subscribers table th {
  background-color: #F4971A;
  width: 100%;
  color: white;
  font-weight: 100;
  padding: 0.2rem 2rem;
  border: 1px solid #F4971A;
}

#admin-subscribers table td {
  border: 1px solid #F4971A;
  padding: 0.1rem 0.3rem;
}

.csv-button {
  background-color: #F4971A;
  color: white;
  border: 0.15rem solid white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  align-self: flex-end;
  margin-bottom: .5rem;
}
