
.admin-link-to-articles{
  /*background-color: #A99C2F;*/

  display: flex;
 padding: 0;


}

.admin-link-to-articles h1{
  color: #ffffff;
  font-size: 4em;
  width: 18em;
  height: 3em;
  text-align: center;
  padding-top: 1.8em;
}

.admin-container {
display: flex;
flex-direction: column;
width: 100vw;
}

.orange{
  background-color: #F4971A;
}

.green{
  background-color: #226462;
}
.cherry{
  background-color: #731717;
}
/*
.admin-link-to-articles{
width: 25vw;
height: 25vw;
background-color: #FBD052;
display: flex;
justify-content: center;
box-shadow: 0 0 100px rgba(0, 0, 0, 0.05);
align-items: center;
font-family: 'Source Sans Pro', sans-serif;
font-size: 2rem;
}*/
