.resources-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.admin-article {
  min-width: 30vw;
  margin: 0em 0 1.5em 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0em 0.825em rgba(0,0,0,0.1);
  display:flex;
  justify-content: space-between;
}

.admin-articles-title{
  text-align: center;
  width: 100%;
  background-color: #226462;
  border-radius: .3rem;
  margin-bottom: 3em;
  min-height: 6em;
  box-shadow: 0 0em 0.825em rgba(0,0,0,0.1);
  cursor: pointer;
 /* transition: 5s;*/

}

.admin-articles-title span{
  font-size: 2em;
  color: #ffffff;
}

.admin-article span {
  color: #226462;
  font-weight: bold;
  display: block;
  width: 15em;
  max-width: 15em;
  text-align: center;
  padding-top: 0.4em;
  }

.admin-article:hover {
  box-shadow: 0 0em 0.9em rgba(0,0,0,0.2);
}

.category_resources {
  display: inline;
  background-color: #F4971A;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: .3rem;
}

.admin-article a {
color: #707070;
transition: .2s;
width: 15em;
max-width: 15em;
text-align: center;
}

.admin-article a:hover {
color: #F4971A;
}

.admin-article button{
  background-color: #F4971A;
  color: #ffffff;
  border-radius: .3rem;
  padding: 1.2em 0.5em;
    /*background-color: #F4971A;
    color: #ffffff;
    border-radius: .3rem;
    padding: 0.2em 0.5em;*/
}

/*.admin-article Link button {
  background-color: #F4971A;
  color: #ffffff;
  border-radius: .3rem;
  padding: 1.2em 0.5em;
}*/
