.admin-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  width: 10rem;
  margin: 0.4rem;
  padding: 0.2rem;
}

.orange {
  background-color: #F4971A;
}

.green {
  background-color: #226462;
}

.cherry {
  background-color: #731717;
}
