.article-header-details {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.article-content {
  margin-top: 2rem;
}

.article-created-date {
  margin-left: 1rem;
  font-size: 0.9rem;
  flex-grow: 1;
}

.article-cover-image {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.article-cover-image-legend {
  font-size: 0.7rem;
}

.article-tags {
  display: flex;
}

.article-tags .tag {
  border: 1px solid #bbb;
  border-radius: 0.3rem;
  padding: 0.25rem 0.4rem;
  color: #bbb;
  font-size: 0.8rem;
  line-height: 0.8rem;
  text-transform: lowercase;
  margin-right: 0.3rem;
}
