.headline {
  font-size: 1.5em;
  color: #226462 ;
  word-spacing: 2px;
}

.content {
  color:  #707070;
  font-weight:600;
  font-size : 1.0625em;
}

.icon {
  color: #F4971A;
}

.title {
  font-weight: 700;
  color: #707070;
  text-transform: uppercase;
  font-size : 1.25em;
  letter-spacing: 1px;
  padding: 0.625em 0 0.9375em 0;
}

.intro-img {
  width: 100%;
  min-height: 9.375em;
  max-height: 9.375em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.img-legend {
  font-size: 0.625em;
  color: #707070;
}


.img-legend span {
  text-decoration: underline;
}

.intro-details {
  padding: 1.5625em 0 1.5625em 0;
}

.category {
  background-color: #F4971A;
  padding: 0.2rem 0.5rem;
  margin-right: 2em;
  text-transform: uppercase;
  border-radius: 0.3rem;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.date {
  font-weight: 700;
  color: #707070;
}

.tag-container {
  float: right;
}
