#formular_articles h2, #formular_articles p {
  color: white;
}

.formular_articles, input, textarea, h2, button, select {
  font-size: 1rem;
  /*margin-left: 4rem;*/
  margin: 0.15rem;
}

#event_title {
  font-size: 2rem;
  text-align: center;
  color: white;
  text-decoration-line: underline;
  margin-bottom: 3rem;
}

#formular_articles {
  font-family: 'Source Sans Pro', sans-serif;
  width: 60rem;
  height: 45rem;
  margin: auto;
  background-color: #A99C2F;
  padding: 2em 2em 2.5em 2.5em;
}

::placeholder {
  color: #F4971A;
}
/*
button[type='submit'] {
  background-color: #F4971A;
  color: white;
  border-radius: 0.3em;
  border-color: white;
  padding: 0.4em;
  position: relative;
  margin-top: 1em;
  margin-right: 10em;
}

input[type='text_title'] {
  width: 15rem;
}

textarea[type='text_resume'] {
  width: 50rem;
  height: 4rem;
}

textarea[type='text_description'] {
  width: 50rem;
  height: 10rem;
}

input[type='date'] {
  font-size: 1rem;
}

input[type='text_URL'] {
  width: ;
}

input[type='text_description_image'] {
  width: ;
}
*/
