.admin-form {
  background-color: #F4971A;
  color: white;
  padding: 2rem;
}

.admin-form form {
  display: flex;
  flex-direction: column;
}

.admin-form label {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 0.5rem;
}

.admin-form input, .admin-form select, .admin-form textarea {
  border: 2px solid transparent;
  outline-width: 0;
  margin-top: .2rem;
}

.admin-form textarea {
  resize: none;
}

.admin-form input[type='submit'] {
  background-color: white;
  color: #F4971A;
  border: 0.15rem solid white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  align-self: flex-end;
  margin-top: 1rem;
}

#article-form label {
  width: 50%;
}

#article-form .titre-categorie,
#article-form .article-form-image,
#article-form .descr-membre {
  display: flex;
}

#article-form .descr-membre {
  margin-bottom: 1rem;
}

