
.aside-left-container {
	background-color: white;
	border-radius: 10px 10px 0 0;
}

.aside-left-articles {
	max-height: 37em;
	min-height: 37em;
}

.aside-left-container p {
	color: #363636;
}

.filactu {
	border-radius: 20px 20px 0 0;
	background-color: white;
	text-align:center;
}

.aside-left-content {

	width: 90%;
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	border-style: none none solid none;
	border-width: 0.1em;
	border-color: rgba(0,0,0,0.2);
	padding: 0.5em;
	transition: all .5s;
}

.aside-left-content:hover {
	border-style: none none solid none;
}

.aside-link {
	color: #707070;
	font-style: bold;
	margin-bottom: 0.5em;
	display: flex;
	justify-content: flex-end;
}

.aside-left-title {

	color: #707070;
	font-style: normal;
	font-size: 1.15em;


}

.aside-left-content .category {
	margin:.5em;
	padding: .3em .7em .3em .3em;
	width: 0;
	display: block

}

.aside-left-content p {
	padding: .5em;
}
