.icon-button-globe {
  background-color: #226462;
}

.icon-button-book {
  background-color: #f4971a;
}

.icon-button-user {
  background-color: #a99c2f;
}

.icon-button-rss {
  background-color: #731717;
}
