.icon-button-globe {
	background-color: #226462;
	width: 10em;
	margin: 0.1em
}
.icon-button-book {
	background-color: #F4971A;
	width: 10em;
	margin: 0.1em
}
.icon-button-user {
	background-color: #a99c2f;
	width: 10em;
	margin: 0.1em
}
.icon-button-rss {
	background-color: #731717;
	width: 10em;
	margin: 0.1em
}
button .twitter
{
	height: 10em;
	width: 10em;
	background-color: red;
}
