.icon {

  color: #F4971A;

}

.title {
  font-weight: 700;
  color: #707070;
  text-transform: uppercase;
  font-size : 1.25em;
  letter-spacing: 1px;
  padding: 0.625em 0 0.9375em 0;
}

.ChevronTitle {
	color:#F4971A;
}
