@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

* {
  font-family: 'Source Sans Pro', sans-serif;
}

.container-content {
  padding: 2.187em;
  min-width: 50%;
  margin: 0 2em 0;
  border-radius: 7px 7px 0 0;
  background-color:white;
  box-shadow: 0 0em 0.625em rgba(0,0,0,0.2);
}

@media screen and (max-width: 45em) {

  .container-content {

    padding: 2em;
    width: 70%;

  }

}
