form #documents_form {
  display: flex;
  flex-direction: column;
	font-family: 'Source Sans Pro', sans-serif;
	background-color: red;
	padding: 2rem;
}

label {
	color: white;
  margin: 0.3rem;
}

input, textarea, select {
  display: block;
}

textarea .document-form-description {
  min-width: 20rem;
  height: 3rem;
}
