.footer-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #226462;
  padding: 1rem;
  margin-top: 4em;
}

.footer-desc > .logo {
  display: inline-block;
  width: 13.75em;
  align-self: flex-start;
  background-color: transparent;
}

.desc {
  display: inline-block;
  white-space: pre;
  color: white;
  margin-left: 3.4375em;
  letter-spacing: 1px;
}

.desc span {
  display: block;
}

.desc span:first-child {
  font-weight: 600;
  font-size: 1.375em;
  word-spacing: 1px;
  color: #F4971A;
}

.icon {
  font-size: 1.0625em;
}

.members-container {
  padding: 2%;
  background-color:white;
}

.intro {
  color: #707070;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 1.25em;
  text-align: center;
}

.intro:after {
  display: block;
  content: '';
  background-color: #F4971A;
  width: 7.5em;
  height: 2px;
  margin: 0.9375em auto 0px;
}

.logo-container {
  width: 55%;
  margin: 40px auto;
}

.member-logo {
  margin: 0.4375em;
}

.member-logo img {
  max-width: 5.625em;
  max-height: 6.25em;
}

.mentions {
  width: 100%;
  background-color: #F4971A;
}

.mentions a {
  display: block;
  margin: auto;
  padding: 1.2rem;
  color: #FAFAFA;
  text-align: center;
}

.mentions span {
  font-size: 1rem;
  margin: 0 1rem;
}
