@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

span {
	font-style: italic;
}

p {
	color: white;
}

#formular_container {
	font-family: 'Source Sans Pro', sans-serif;
	max-width: 700px;
	max-height: 325px;
	background-color: #731717;
	padding: 1em 1em 2.5em 2.5em;
}

::placeholder {
	color: #F4971A;
}

/*input[name='checkbox'] {

}*/


input[placeholder='Nom'] {
	width: 280px;
	margin-right: 20px;
	margin-bottom: 10px;
}

input[placeholder='Prénom'] {
	width: 320px;
	margin-bottom: 10px;
}

input[placeholder='Adresse mail'] {
	width: 626px;
	margin-bottom: 10px;
}

input[placeholder='Numéro de téléphone'] {
	width: 626px;
}
