.intro-img {

  width: 100%;
  min-height: 150px;
  max-height: 150px;
  background-image: url('../img/photo_couverture_web.jpg');
  background-size: cover;

}

.img-credit {

  font-size: 10px;
  color: #707070;

}


.img-credit span {

  text-decoration: underline;

}

.intro-details {
  padding: 25px 0 25px 0;
}

.category {

  background-color: #F4971A;
  padding: 3px;
  text-transform: uppercase;
  margin-right: 25px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: white;

}

.date {

  font-weight: 700;
  color: #707070;

}

.tag-container {

  float: right;

}
