
.navbar {
  margin-left: 5rem;

}
nav {
width: 80%;
margin: auto;
background-color: #fff;
}


nav > ul {
  margin: 0px;
  padding-top: 0px;
}

nav li {
  list-style: none;
}

nav > ul > li {
  float: left;
  position: relative;
}

nav > ul::after {
  content: "";
  display: table;
  clear: both;
}

.submenu {
  display: none;
}

nav input[type=checkbox] {
  display: none;
}

nav label {
  display: none;
}

nav a {
  display: inline-block;
  text-decoration: none;
}

nav > ul > li > a {
  padding:  20px 30px;
  color: #707070;
}


nav > ul > li:hover a  {
  padding: 15px 30px 20px 30px;
  color: white;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0%;
  padding: 0px;
  z-index: 1000;
}

.submenu li a {
  padding: 1px 30px;
  font-size: 13px;
  width: 200px;
}

.submenu li {
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

.menu:hover {
  background-color: #226462;
}



li:hover {
  background-color: #707070;
}

.submenu:hover a {
  color: #fff;
}

p {
  display: block;
  color: grey;
}

p:hover {
  color: white;

}
