nav {
  width: 100%;
  border-bottom: 1px solid #CCC;
  margin: auto;
  box-shadow: 0 0em 0.625em rgba(0,0,0,0.2);
}

.navbar {
  display: flex;
  justify-content: center;
}

#homeButton svg{
  width: 45px;
  margin: 0;
}

.submenu {
  display: none;
}

nav a {
  display: inline-block;
  border-left: 1px solid #CCC;
  height: 1.0em;
 }

 nav > ul > li {
   float: left;
   position: relative;
 }

nav > ul > li > a {
  padding: 20px 30px;
}

nav a:only-child {
  border-left: none;
}

.submenu li a {
  padding: 0.8rem;
  font-size: 1rem;
  width: 15rem;
  background-color: #fff;
  border: 1px solid #CCC;
  border-top-width: 0em;
  margin: 0rem;
  transition: all .2s;
  color: #363636;
}

nav li:hover .submenu {
  display: inline-block;
  position: absolute;
  top: 100%;
  left: 0%;
  z-index: 1000;
}

.menu {
  transition: all .3s;
}

.menu:hover {
  display: inline-block;
  height: 3.5rem;
  background-color: #226462;
}

.menu:hover > a {
  color: #fff;
  border-style: none;
}

.submenu li a:hover {
  background-color: #707070;
  color: #fff;
}
