.logo{
  width: 200px;
  background-color:  white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Nav{
  display: flex;
  justify-content: center;
  border-top:  solid 1px #707070;
  border-bottom: solid 1px #707070;
  height: 40px;
}

.Button{
  padding-left: 20px;
  padding-right: 20px;
}
