#subscribers-form {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding: 1em;
  background-color: #731717;
  /*border-radius: 0.5rem;*/
  font-weight: bold;
  line-height: 1.5em
}

::placeholder {
  color: #F4971A;
}

#subscribers-form p {
  color: #ffffff;
}

#subscribers-form form {
  width: 100%;
}

#subscribers-form form div:first-child {
width: 100%;
padding: 1em 0em 1em;
}

#subscribers-form form div:nth-child(2) {
  display: flex;
  justify-content: center;
}

#subscribers-form form div:nth-child(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

#subscribers-form input[type='checkbox'] {
  -ms-transform: scale(1.2);
  /* IE */
  -moz-transform: scale(1.2);
  /* FF */
  -webkit-transform: scale(1.2);
   Safari and Chrome
  -o-transform: scale(1.2);
  /* Opera */
  margin-right: .7em;
}

#subscribers-form input {
  margin : 1em;
  border: 2px solid transparent;
  transition: .3s;
  outline-width: 0;
}

#subscribers-form input:focus {
   border: 2px solid #F4971A;
  border-radius: 5px;

}

#subscribers-form input[name='lastName'], input[name='firstName'] {
  width:50%;
  padding: .5em;
}

#subscribers-form input[name='number'], input[name='mail'] {
  width: calc(100% - 3.25em);
  padding: .5em;
}

#subscribers-form input[type='submit'] {
  background-color: #F4971A;
  color: white;
  border-radius: 0.3em;
  border: 0.15em solid white;
  padding: 0.7em;
  cursor: pointer;
}
