.resources-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  white-space: wrap;
}

.resource {
  min-width: 30vw;
  margin: 0em 0 1.5em 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0em 0.825em rgba(0,0,0,0.1);
  display:flex;
  justify-content: space-between;
  transition: .5s;
  padding: 1em;
}

.resource span {
color: #226462;
font-weight: bold; 
  }
.resource p {
}

.resource:hover {
  box-shadow: 0 0em 0.9em rgba(0,0,0,0.2);
}

.category_resources {
  display: inline;
  background-color: #F4971A;
  color: white;
  font-weight: bold;
  padding: 0.2em 0.5em;
  border-radius: .3rem;
}

.resource a {
color: #707070;
transition: .2s;
}

.resource a:hover {
color: #F4971A;

}
