.search{
  border-radius: 50px;
  border: white solid 2px;
  width: 200px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  transition: .5s;

}

.search:focus {

  background-color: white;

}

.searchBar{
  padding-top: 40px;
}
