.SideBarButton {
  display: block;
  min-width: 11em;
  padding: .7em;
  margin-bottom: .6em;
  color: white;
  font-size: 1rem;
  border:none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  cursor: pointer;
  list-style: none;
}
span {
margin-right: 1em;
}
