.NavButton {
  padding: 0px 20px 0px 20px;
  width: auto;
  color: #707070;
  background-color: #fff;
  border: none;
  height: 30px;
  font-size: 1rem;
}

.NavButton:hover{
  background-color: #226462;
  color: #ffffff;
}

.NavButton:focus{
  outline: none;
  background-color: #226462;
  color: #ffffff;
}

.SubMenu {
  display: flex;
  flex-direction: column;
}

.SubMenuButton {
  padding: 0px 20px 0px 20px;
  height: 30px;
  border-left: solid 1px #707070;
  border-right: solid 1px #707070;
  border-bottom: solid 1px #707070;
  color : #707070;
  padding-left: 8px;
  text-align: left;
  font-size: 1rem;
}

.SubMenuButton:hover {
  background-color: #707070;
  color: #ffffff;
}

.SubMenuButton:focus {
  outline: none;
  background-color: #707070;
  color: #ffffff;
}
