th {
	font-family: 'Source Sans Pro', sans-serif;
	padding-right: 1em;
	width: 25%;
	background-color: #731717;
	color: white;
	font-weight: bold;
	font-size: 1.1em;
	
}

td {
	padding-right: 1em;
	padding-left: 0em;
	width: 25%;
	background-color: #731717;
	color: white;
	text-align: center;
	border-radius: 5px 5px 5px 5px; 
	border:3px solid white;
	font-family: 'Source Sans Pro', sans-serif;
}

caption {
	font-size: 1.1em;
	text-transform: uppercase;
	text-align: left;
	font-family: 'Source Sans Pro', sans-serif;
 	height: 3em;  
  	min-width: 50%;
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
    line-height: 1.5em;
}

.subscribers td {
	color: white;
}
