@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

p {
  white-space: pre-line;
}

.changing-content {
  display: flex;
  width: 80%;
  justify-content: center;
  margin: 2.5em auto;
}
